<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>rdm-002</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>12D6EF08-E30F-4895-B4D7-43E835FE608D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>157C45D1-9CB3-40C0-92F2-52F345A9717C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ed Heltzel</string>
	<key>description</key>
	<string>zip with keyboard or keyword triggers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Archive files and folder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>|</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your zip has been created</string>
				<key>title</key>
				<string>Abracadabra</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>157C45D1-9CB3-40C0-92F2-52F345A9717C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript create_zip_archive_file.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zip</string>
				<key>subtext</key>
				<string>select on or more files</string>
				<key>text</key>
				<string>Create a zip archive file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12D6EF08-E30F-4895-B4D7-43E835FE608D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>157C45D1-9CB3-40C0-92F2-52F345A9717C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
